<!DOCTYPE html>
<html
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{elements/main}" >
<head>
    <title>Index Page</title>
</head>
<body>

<div  layout:fragment="content" class="container workshop">
    <div class="jumbotron">
        <p>Krótka aplikacja webowa stworzona na projekt testowy dla firmy PGS Software S.A.
        <br>Login dla Admina: admin@mail.com pass:12345
        <br>Dla jednego z userów: lckorone@gmail.com pass:12345</p>

    </div>
</div>
</body>
</html>